[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
name = "pytorch"

[packages]
transformers = "*"
torch = {version="*", index="pytorch"}
torchaudio = {version="*", index="pytorch"}
fastapi = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.12"
